@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sen:wght@400..800&display=swap');

body {
  background-color: #110F0F;
  font-family: "Roboto";
}

@theme {
  --color-custom-black: #110F0F;
  /* Example with hex */
  --color-custom-border: #1E2939;
}

#search:focus {
  outline: none;
  box-shadow: none;
  background-color: #1E2939;
}

#search {
  border: 2px solid #1E2939;
  transition: all 0.2s;
}
